Options +FollowSymLinks -MultiViews

RewriteEngine on
RewriteBase /

# Capture api request routes and route them to named php pages
RewriteRule ^api/([a-z]+)$ api/$1.php [PT]

Header set Access-Control-Allow-Origin "*"